body h1 {
  margin: 30px;
}

.listaLibri {
  background-color: bisque;
  padding: 10px;
  margin: 30px;
  width: fit-content;
  border: 2px solid grey;
  border-radius: 10px;
}

.formLibro input,
.formLibro textarea {
  display: block;
  margin: 10px 0 10px 30px;
  padding: 10px;
  border-radius: 10px;
}

.formLibro button {
  margin-left: 30px;
  padding: 10px;
  background-color: green;
}